padding-top: (@paddingTop * 15px);
padding-bottom: (@paddingBottom * 15px);
& when (@bg-type = 'color') {
  background-color: @bg-value;
}
& when (@bg-type = 'image') {
  background-image: url(@bg-value);
}
H2 {
  color: #000000;
  line-height: 1.2;
}
.mbr-section-subtitle {
  color: #000000;
}
span {
    visibility: hidden;
  }
.zitat span {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .2s ease-in;
   -moz-transition: opacity .2s ease-in;
   -o-transition: opacity .2s ease-in;
   transition: opacity 0.2s ease-in;
  }

span.blick{
  visibility: visible;
  opacity: 1;
}
